* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    margin: 0 10px;
}
a {
    color: grey;
    &:hover{
        text-decoration: none;
        color: black;
    }
}
.flex {
    display: flex;
}
